body {
    font-family: 'Lato', sans-serif;
    background-color: #b1b1b0c7;
}

h2, p, .readme-wrapper {
    text-align: center;
}

a {
    text-decoration: none;
    color: #524f4f;
}

a:hover {
    cursor: pointer;
    font-weight: 700;
    color: darkslategrey;
}

span {
    color: rgb(70, 158, 158);
    font-weight: 700;
}