body {
    font-family: 'Lato', sans-serif;
    background-color: #b1b1b0c7;
}

h2, p, .readme-wrapper {
    text-align: center;
}

a {
    text-decoration: none;
    color: #524f4f;
}

a:hover {
    cursor: pointer;
    font-weight: 700;
    color: darkslategrey;
}

span {
    color: rgb(70, 158, 158);
    font-weight: 700;
}

.boxes {
    margin: 5px auto;
    padding: 8%;
    border: 1px solid #466099;
    border-radius: 10px;
    width: 30em;
    display: block;
}

#box1 {
    background-color: #fcfcfc;
}

#box2 {
    background-color: #f3f3f3;
}

#box3 {
    background-color: #eeeeee;
}

#box4 {
    background-color: #d1cece;
}

.new-box {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: #d37777;
    position: relative;
    top: 60px;
    left: 55px;
}